<div id="app-cart"></div>

<script>
  {% if settings.free_shipping_threshold != blank %}
    window.freeShippingThreshold = {{ settings.free_shipping_threshold | plus: 0 }};
    window.freeShippingSuccessMessage = {{ settings.free_shipping_success_message | json }};
  {% endif %}
</script>

<script src="{{ 'app-cart.min.js' | asset_url }}" defer async></script>
