<div id="v-product-actions"></div>

<script>
  window.product = {{ _product | json }};
  window.product.options_with_values = {{ _product.options_with_values | json }};
</script>

<script src="{{ 'widget-product-actions.js' | asset_url }}" defer></script>