html {
  box-sizing: border-box;
}

body {
  color: $color-black;
  font-family: "Jost", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  padding-top: rem(70);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  word-break: normal;
}

p {
  margin: 0;
}

.rte {
  line-height: 1.5;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: rem(24);
  }

  p:not(:last-of-type) {
    margin-bottom: rem(16);
  }

  ul,
  ol {
    margin-top: rem(16);
    margin-bottom: rem(16);
  }

  ul {
    list-style: disc;
    padding-left: rem(20);
  }

  ol {
    padding-left: rem(20);
  }

  li {
    margin-bottom: rem(5);
  }

  blockquote {
    margin-top: rem(16);
    margin-bottom: rem(16);
    padding-left: rem(16);
    border-left: rem(5) solid $color-black;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}

[disabled] {
  opacity: 0.5;
  pointer-events: none;
}