.c-shopGrid {
  display: grid;
  gap: rem(16);
  padding: rem(24) 0;
  @include media-desktop-up {
    grid-template-columns: 1fr 1fr;
    gap: rem(32);
    padding: rem(32) 0;
  }
  &__description {
    padding: rem(24) 0;
  }
  &__accordions {
    margin-top: rem(32);
  }
}
