<header class="c-header" data-header>
  <div class="o-container">
    <div class="c-header__inner">
      <div class="c-header__logo">
        <a href="/">
          malleable
          <div class="c-header__text">
            a Shopify starter theme by <span class="eloquent-branded">eloquent</span>
          </div>
        </a>
      </div>
      <ul class="c-header__menu">
        <li>
          <button data-search>
            <svg class="ov-icon" aria-hidden="true" width="24" height="24" viewBox="0 0 20 20" fill="currentColor" style="font-size: 1.2em;"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
          </button>
          {% render 'app-search' %}
        </li>
        <li>
          <button class="u-relative" data-cart-toggle>
            <span class="c-header__cartCount" data-cart-count>
              {{ cart.item_count }}
            </span>
            <svg class="ov-icon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" style="font-size: 1.2em;"><path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    }
  ]
}
{% endschema %}