{{ 'product-grid.min.css' |  asset_url | stylesheet_tag }}

<div class="c-productGrid">
  <div class="o-container">
    <div class="o-grid">
      {% for _product in collections.all.products %}
        <quick-shop>
          <div class="c-product">
            <a href="{{ _product.url }}">
              {{ _product.featured_image | image_url: width: 700 | image_tag }}
            </a>
            <div class="c-product__actions">
              <button class="c-product__cta c-btn c-btn--full" data-quickshop="{{ _product.handle }}">Quickshop</button>
            </div>
          </div>
        </quick-shop>
      {% endfor %}
    </div>
  </div>
</div>

{% render 'app-quickshop' %}

{% schema %}
  {
    "name": "Product Grid",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      }
    ],
    "presets": [{
      "name": "Product Grid",
      "category": "Product Grid"
    }]
  }
  {% endschema %}