<div class="o-container">
  <div class="c-shopGrid">
    <div class="c-shopGrid__image">
      {{ product.featured_image | image_url: width: 1216 | image_tag: class: 'u-full' }}
    </div>
    <div class="c-shopGrid__details">
      {{ product.description }}
      {% render 'widget-product-actions', _product: product %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Top"
}
{% endschema %}