<div class="o-container">
  <div class="c-shopGrid">
    <div class="c-shopGrid__image">
      {{ product.featured_image | image_url: width: 1216 | image_tag: class: 'u-full' }}
    </div>
    <div class="c-shopGrid__details">
      <h1>{{ product.title }}</h1>
      <div class="c-shopGrid__description rte">
        {{ product.description }}
      </div>
      {% render 'app-product-actions' %}
      <div class="c-shopGrid__accordions">
        {% for accordion in product.metafields.custom.accordions.value %}
          {% render 'accordion'
            title: accordion.title,
            text: accordion.text
          %}
        {% endfor %}
        {% for accordion in shop.metaobjects['global_product_accordion'].values %}
          {% render 'accordion'
            title: accordion.title,
            text: accordion.text
          %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Top"
}
{% endschema %}