.c-btn {
  position: relative;
  display: inline-block;
  background-color: $color-black;
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  border-radius: rem(4);
  line-height: 1;
  letter-spacing: rem(1);
  overflow: hidden;
  padding: rem(16) rem(24);
  &--secondary {
    background-color: $color-white;
    color: $color-black;
  }
  &--full {
    display: block;
    width: 100%;
  }
  &--adding {
    .c-btn__overlay {
      display: flex;
    }
  }
  &__overlay {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    text-align: center;
    background-color: $color-black;
    z-index: 1;
    svg {
      animation: spin 1s linear infinite;
    }
  }
}

.c-btnIcon {
  position: relative;
  width: rem(40);
  height: rem(40);
  border-radius: 100%;
  background-color: $color-white;
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
