.c-btn {
  background-color: $color-black;
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  line-height: 1;
  letter-spacing: 1px;
  padding: 12px 16px;
}

.c-btn--full {
  display: block;
  width: 100%;
}