.c-btn {
  position: relative;
  background-color: $color-black;
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  border-radius: rem(4);
  line-height: 1;
  letter-spacing: rem(1);
  overflow: hidden;
  padding: rem(12) rem(16);
  &[disabled] {
    opacity: 0.5;
  }
  &--full {
    display: block;
    width: 100%;
  }
  &--adding {
    .c-btn__overlay {
      display: flex;
    }
  }
  &__overlay {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    text-align: center;
    background-color: $color-black;
    z-index: 1;
  }
}
