.c-cart {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  width: 396px;
  max-width: 100%;
  height: 100%;
  background-color: $color-white;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 3;
  &.c-cart--open {
    transform: translateX(0);
  }
}

.c-cart__inner {
  overflow-y: auto;
  padding: 16px;
}