.c-cart {
  position: fixed;
  inset: 0;
  left: auto;
  display: flex;
  flex-direction: column;
  width: rem(400);
  max-width: 100%;
  height: 100%;
  background-color: $color-white;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 30;
  &.c-cart--open {
    transform: translateX(0);
  }
}

.c-cart__inner {
  overflow-y: auto;
  padding: rem(16);
  margin-bottom: rem(104);
}

.c-cart__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(16);
}

.c-cart__items {
  display: grid;
  gap: rem(16);
}

.c-cart__bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  line-height: 1;
  background-color: $color-white;
  border-top: rem(1) solid $color-black;
  padding: rem(16);
}

.c-cart__subtotal {
  margin: 0;
  padding-bottom: rem(16);
}

.c-cart__cta {
  display: block;
  border-radius: 0;
}