.c-item {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  gap: rem(16);
  &__actions {
    display: flex;
    gap: rem(12);
    line-height: 0;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__details {
    p {
      margin-bottom: rem(16);
    }
  }
}
