.c-item {
  display: grid;
  grid-template-columns: rem(125) 1fr;
  gap: rem(16);
  &__actions {
    display: flex;
    gap: rem(12);
    line-height: 0;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
