.c-item {
  display: grid;
  grid-template-columns: 125px 1fr;
  gap: 16px;
  &__actions {
    display: flex;
    gap: 12px;
    line-height: 0;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
