.c-product {
  position: relative;
  line-height: 0;
  &:hover {
    .c-product__actions {
      display: block;
    }
  }
}

.c-product__actions {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 16px;
  display: none;
  z-index: 1;
}

.c-product__cta {
  height: 50px;
}