.c-productActions {
  &__row {
    margin-bottom: rem(24);
  }
  &__option {
    display: grid;
    gap: rem(12);
  }
  &__values {
    display: flex;
    gap: rem(12);
  }
  &__value {
    &--selected {
      text-decoration: underline;
    }
  }
  &__atc {
    display: flex;
    align-items: center;
    gap: rem(16);
  }
}