.c-productActions {
  &__option {
    display: grid;
    gap: rem(12);
    margin-bottom: rem(24);
  }
  &__values {
    display: grid;
    gap: rem(6);
  }
  &__value {
    &--selected {
      text-decoration: underline;
    }
    &--disabled {
      opacity: 0.5;
    }
  }
  &__atc {
    display: flex;
    align-items: center;
    gap: rem(16);
    margin-top: rem(28);
  }
}