.c-progress {
  position: relative;
  background-color: $color-white;
  border-radius: rem(6);
  overflow: hidden;
  height: rem(6);
  &__progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: rem(6);
    background-color: $color-accent;
    transition: width 0.3s ease;
  }
}