.c-qty {
  display: flex;
  align-items: center;
  gap: rem(12);
  line-height: 0;
  &__value {
    text-align: center;
    width: rem(20);
  }
  &__btn {
    position: relative;
    width: rem(24);
    height: rem(24);
    border-radius: 100%;
    box-shadow: 0 0 0 rem(1) $color-black;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
