.c-search {
  display: grid;
  grid-template-columns: 1fr rem(28);
  gap: rem(8);
  position: fixed;
  top: rem(70);
  left: 0;
  right: 0;
  z-index: 30;
  padding: rem(16);
  background-color: $color-white;
  @include media-desktop-up {
    position: absolute;
    top: 50%;
    left: auto;
    right: 0;
    transform: translateY(-50%);
    padding: 0;
  }
  &__input {
    @include media-desktop-up {
      width: rem(200);
    }
  }
  &__clear {
    position: absolute;
    top: 50%;
    right: rem(24);
    transform: translateY(-50%);
    @include media-desktop-up {
      right: rem(8);
    }
  }
  &__close {

  }
}
