.c-swatches {
  display: flex;
  gap: rem(12);
}

.c-swatches__swatch {
  border-radius: 100%;
  width: rem(24);
  height: rem(24);
  font-size: 0;
  &[data-selected] {
    box-shadow: 0 0 0 rem(2) $color-black inset;
  }
}
