<div class="o-container">
  <div class="o-grid">
    {% for product in collections.all.products %}
      <div>
        <div class="c-product">
          <a href="{{ product.url }}">
            <img
              src="{{ product.featured_image | image_url: width: 700, height: 467 }}"
              width="700"
              height="467"
              loading="lazy"
              alt="{{ product.title }}"
            />
          </a>
          <div class="c-product__actions">
            <button class="c-product__cta c-btn c-btn--full" data-quickshop="{{ product.url }}">Quickshop</button>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>